@import url("https://unpkg.com/98.css");

body {
    background-color: #008080;
    font-family: "Pixelated MS Sans Serif", "sans-serif";
    font-size: 12px;
    color: #fff;
}

.desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #c0c0c0;
    border-top: 2px solid #fff;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.start-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.start-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.window {
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: #c0c0c0;
    border: 2px solid #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.title-bar {
    background-color: #000080;
    color: #fff;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar-text {
    font-weight: bold;
}

.title-bar-controls {
    display: flex;
}

.title-bar-controls button {
    width: 16px;
    height: 14px;
    margin-left: 2px;
}

.window-body {
    padding: 10px;
    color: #000;
}